<h2> Cadastrar Aluno</h2>
<form (ngSubmit)="salvar()">
<label for="codaluno">Código:</label>
<input id="codaluno" [(ngModel)]="aluno.codaluno" name="codaluno"
required />
<label for="nomealuno">Nome:</label>
<input id="nomealuno" [(ngModel)]="aluno.nomealuno" name="nomealuno"
required />
<label for="curso">Curso:</label>
<input id="curso" [(ngModel)]="aluno.curso" name="curso" required />
<label for="sexo">Sexo:</label>
<input id="sexo"
[(ngModel)]="aluno.sexo" name="sexo" required />
<button type="submit">Salvar</button>
</form>
